
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Rules for user profiles
    match /users/{userId} {
      // A user can create, read, and update their own profile.
      // They cannot delete it or access other users' profiles.
      allow read, update, create: if request.auth != null && request.auth.uid == userId;
    }

    // Rules for saved arrear statements
    match /savedStatements/{statementId} {
      allow read, create, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    // Rules for global rate configurations
    match /configurations/{configId} {
      // Only authenticated users can read and write to the configurations.
      // The configId is a fixed value, e.g., "allRates".
      allow read, write: if request.auth != null;
    }
  }
}
