
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isAdmin() {
      return request.auth.token.email == 'amulivealigarh@gmail.com';
    }
    
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, update: if isOwner(userId) || isAdmin();
      allow create: if request.auth != null;
      allow list, delete: if isAdmin();
    }

    match /savedStatements/{statementId} {
      allow read, delete: if isAdmin() || (resource.data.userId == request.auth.uid);
      allow create, update: if request.auth != null && (request.resource.data.userId == request.auth.uid);
    }
    
    match /configurations/{docId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
  }
}
